<% if @story.errors.any? %>
  <div class="form_errors">
    <h3>Errors</h3>
    <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @story do |f| %>
  <div>
    <p><%= f.label :name  %></p>
    <%= f.text_field :name %>
  </div>
  <div class="field_with_errors">
  <label for="story_link">Link</label>
</div>
<div class="field_with_errors">
  <input type="text" value="" name="story[link]" id="story_link">
</div>
  <%= submit_tag %>
<% end %>
